@import url(./__copyright/footer__copyright.css);
@import url(./__link/footer__link.css);
@import url(./__nav-links/footer__nav-links.css);

.footer {
    margin: 92px auto 0 auto;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
    .footer {
        margin: 88px 24px 0 24px;
    }