@import url(./__copyright/footer__copyright.css);
@import url(./__link/footer__link.css);
@import url(./__nav-links/footer__nav-links.css);
@import url(./__link-list/footer__link-list.css);
.footer {
    margin: 92px auto 0 auto;
    padding: 0 48px 24px 48px;
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

@media screen and (max-width: 1023px) {
    .footer {
        margin-top: 88px;
        padding: 0 24px 24px 24px;
    }
}

@media screen and (max-width: 767px) {
    .footer {
        margin: 64px auto 0 0;
        padding: 0 16px 20px 16px;
        display: block;
    }
}