.place__description {
    margin: 48px 0 0 0;
    padding: 0;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .place__description {
        width: 90vw;
        margin: 0 0 0 16px;
    }
}